# exclude game files, but include script source and SCI Companion config
/kq5cd/*
!/kq5cd/game.ini
/kq5cd/src/*
!/kq5cd/src/*.sc
!/kq5cd/src/*.sh

# exclude ide files
/.idea/
/*.iml

# exclude python virtual environment
/.venv/

# exclude build
/build
